body {
  background-image: url("https://cdn.wallpapersafari.com/86/92/OxsnYo.gif");
  color:darkmagenta;
  font-family: sans-serif;
}

.siteBox {
  display: flex;
  justify-content: space-between; /* Adjust this based on your preference */
  align-items: flex-start; /* Align items to the top of the container */
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden; /* Prevent margin collapsing */
}

img {
  width: 80%;
  height: auto;
}

.alignRight { /* New CSS class for aligning the image to the right */
  margin-left: auto; /* This will push the image to the right */
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photoAndLinks {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.leftColumn,
.rightColumn {
  flex: 1;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

section {
  background: black;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  border: 2px dashed darkmagenta;
  font-size: 11px;
}

.finePrint {
  font-size: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.textMargins{
  margin-top: 10px;
}

.link {
  background-image: url("https://i.imgur.com/qcUvkqn.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-decoration: none;
  height: 43px;
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:aliceblue;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}