/* General styles for all screen sizes */
.siteBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/86/92/OxsnYo.gif");
  color:darkmagenta;
  font-family: sans-serif;
}



img {
  width: 80%;
  height: auto;
}

.alignRight { /* New CSS class for aligning the image to the right */
  margin-left: auto; /* This will push the image to the right */
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.leftColumn {
  flex: 1;
  padding: 20px;
}

.rightColumn {
  flex: 1;
  padding: 20px;
}

section {
  background: black;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  border: 2px dashed darkmagenta;
  font-size: 12px;
}

.photoLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.photoAndLinks {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.photoAndLinks img {
  max-width: 100%;
  height: auto;
}

.textMargins {
  margin-top: 10px;
}

.finePrint {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  display: flex;
  color: darkmagenta;
  font-size: 17px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
.siteBox {
  justify-content: space-between; /* Adjust this based on your preference */
  align-items: flex-start; /* Align items to the top of the container */
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden; /* Prevent margin collapsing */
}
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 768px) {
  .siteBox {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    flex: initial;
    padding: 10px;
  }

  .photoAndLinks {
    flex-direction: row;
  }

  .photoAndLinks img {
    margin-right: 10px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .textMargins {
    margin-top: 10px;
    text-align: center;
  }

  .projects iframe {
    height: 250px;
  }

  .buttons {
    flex-direction: column;
  }
}
